// Core colours (used on every site)
$white: #ffffff;
$black: #000000;
$grey: #8e8e8e;
$charcoal: #414042;

// Variables (we store in variables so that they can be easily replaced)
$colour-primary: $charcoal;
$colour-accent: $black;
$colour-secondary: $grey;

//Variables darkened
$colour-primary-darkened: darken($colour-primary, 10%);
$colour-accent-darkened: darken($colour-accent, 10%);
$colour-secondary-darkened: darken($colour-secondary, 10%);

$colour-font: $black;

$theme-colours: (
	white: $white,
	black: $black,
	grey: $grey,
	charcoal: $charcoal,
	colour-primary: $colour-primary,
	colour-accent: $colour-accent,
	colour-secondary: $colour-secondary,
	colour-primary-darkened: $colour-primary-darkened,
	colour-accent-darkened: $colour-accent-darkened,
	colour-secondary-darkened: $colour-secondary-darkened,
	colour-font: $colour-font
);

//social site colours
$twitter-blue: #55ACEE;
$facebook-blue: #39619F;
$google-red: #F33F2C;
