.circle {
    border-radius: 50%;
}

.border-rounded {
    border-radius: 10px;
}

.border-none {
    border: none;
}

@each $name, $colour in $theme-colours {
    .border {
		&-#{$name} {
			border: $colour solid 1px;
		}
	}
    .border-left {
		&-#{$name} {
			border-left: $colour solid 1px;
		}
	}
    .border-right {
		&-#{$name} {
			border-right: $colour solid 1px;
		}
	}
    .border-top {
		&-#{$name} {
			border-top: $colour solid 1px;
		}
	}
    .border-bottom {
		&-#{$name} {
			border-bottom: $colour solid 1px;
		}
	}
}

@each $prefix, $size in $screens {
	@media screen and (max-width: #{$size}) {
		.#{$prefix}\:border-none {
			border: none;
		}
		@each $name, $colour in $theme-colours {
			.#{$prefix}\:border {
				&-#{$name} {
					border: $colour solid 1px;
				}
			}
			.#{$prefix}\:border-left {
				&-#{$name} {
					border: $colour solid 1px;
				}
			}
			.#{$prefix}\:border-right {
				&-#{$name} {
					border: $colour solid 1px;
				}
			}
			.#{$prefix}\:border-top {
				&-#{$name} {
					border: $colour solid 1px;
				}
			}
			.#{$prefix}\:border-bottom{
				&-#{$name} {
					border: $colour solid 1px;
				}
			}
		}
	}
}

.thick-border {
    border-width: 2px;
}
