input, textarea, select {
    border: 1px solid $black;
    height: inherit;
    background-color: transparent;
    margin-bottom: 20px;
    font-family: 'proxima-nova';
}

select, input {
    height: 50px;
}

textarea {
    height: 300px;
    line-height: 25px;
}

label {
    padding-bottom: 10px;
    display: block;
}

textarea {
    resize: none;
    width: 100%;
    padding-left: 10px;
}

.gform_button {
    &.button {
        width: auto;
        padding: 0px 40px;
        font-size: 15px;
        font-weight: bold;
        color: $white;
        background: $colour-font;
        text-transform: uppercase;
        font-family: 'proxima-nova';
        transition: all 0.3s ease;
        &:hover {
            background-color: $colour-primary;
            border-color: $colour-primary;
        }
    }
}

.ginput_recaptcha {
    display: inline-block !important;
    float: left;
}

.gfield {
    position: relative;
}

.validation_error {
    margin-bottom: 20px;
}

.gfield_error {
    input {
        border: 1px solid red;
    }
}

select {
    &.disabled {
        opacity: 0.3;
    }
}

.form-wrap {
    input[type="text"],
    input[type="email"],
    textarea {
        -webkit-appearance: none;
        -moz-appearance: none;
        padding: 5px 10px !important;
        width: 100%;
        outline: none;
        transition: all 0.2s ease;
        &:focus {
            border-left: $colour-primary solid 5px;
        }
    }

    .input-half {
        width: 49%;
        display: inline-block;
    }

    .space-right {
        margin-right: 1.5%;
    }

    .gform_button {
        float: right;
    }

    .gform_validation_container {
        display: none;
    }

}
@media screen and (max-width: $medium) {
    .form-wrap {
        .input-half {
            width: 100%;
        }
    }
}

.gform_ajax_spinner {
    max-width: 30px;
}
