.form-wrap {
    input[type="text"],
    input[type="email"],
    textarea {
        -webkit-appearance: none;
        -moz-appearance: none;
        padding: 5px 10px !important;
        width: 100%;
        margin-bottom: 20px;
        outline: none;
        height: inherit;
        border: 1px solid $black;
        transition: all 0.2s ease;
        &:focus {
            border-left: $colour-primary solid 5px;
        }
    }
    textarea {
        resize: none;
        min-height: 300px;
        width: 100%;
    }
    select {
        height: inherit;
        border-radius: 5px;
        padding: 0 2rem;
        background-color: $charcoal;
        // You might want to change the icon here
        background-image: url('https://image.flaticon.com/icons/svg/32/32195.svg');
        background-position: right 2rem center;
        background-repeat: no-repeat;
        background-size: 2rem;
        font-weight: 500;
        transition: border 0.25s ease-in-out;
        &.disabled {
            opacity: 0.3;
        }
    }
    label {
        padding-bottom: 10px;
        display: block;
    }
    // fake checkbox that is used on ALL sites now... :)
    .checkbox-actual {
        width: 1px;
        height: 1px;
        overflow: hidden;
        opacity: 0;

        &:checked ~ .fake-checkbox,
        &:checked ~ .fake-radio {
            &::after {
                opacity: 1;
            }
        }
    }
    .fake-checkbox {
        width: 3.6rem;
        height: 3.6rem;
        border: 2px solid $charcoal;
        background-color: $white;
        border-radius: 5px;
        display: inline-block;
        position: relative;
        cursor: pointer;
        transition: border 0.25s ease-in-out;

        &::after {
            content: " ";
            display: inline-block;
            width: 2.7rem;
            height: 2.7rem;
            position: absolute;
            top: 0.3rem;
            left: 0.3rem;
            // You might want to change the icon here
            background-image: url('https://image.flaticon.com/icons/svg/64/64484.svg');
            background-position: center;
            background-size: 80%;
            background-repeat: no-repeat;
            opacity: 0;
            transition: opacity 0.1s ease-in-out;
        }
    }
    // Gravity forms specific, but very much a core of the form-wrap toolset
    .gform_validation_container {
        display: none;
    }
    .gform_ajax_spinner {
        max-width: 30px;
    }
}
