// Incredibly useful for WYSIWYG editors, be it TimyMCE or not, the below saves loads of formatting time!
.wysiwyg {
	img {
		width: auto;
		margin-bottom: 20px;
	}
	ul, ol {
   		list-style-position: inside;
	}
	ul {
		li {
			list-style: disc;
			list-style-position: inside;
		}
	}
	ol {
		li {
			list-style: decimal;
			list-style-position: inside;
		}
	}
}
