/*
* At the moment this just contains some variables but can easily expand to
* include a modular scale etc.
*/

$base-font-family: 'Helvetica', sans-serif;
$header-font-family: 'Helvetica', sans-serif;
$base-line-height: 1.5;
$base-font-size: 16px;
